body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.game-club-box-header {
  max-width: 700px;
}

.auth-main {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 500px;
}
